.applicationform {
    padding:  80px 0 65px 0;
    @include mobile {
        padding: 50px 0;
    }
    .application__desc {
        max-width: 745px;
        width: 100%;
        margin: 0 auto;
        p {
            font-size: 20px;
        }
    }

    .form__block {
        margin-top: 60px;
        @include mobile {
            margin-top: 20px;
        }
        @include below-desktop {
            text-align: center;
        }
        h3 {
            font-size: 24px;
            margin-bottom: 40px;
            @include mobile {
                margin-bottom: 20px;
            }
        }

        .btn--big {
            max-width: 393px;
            padding: 14px 20px;
            margin-bottom: 15px;
        }
    }
}


